<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">{{username}}</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/login">nk</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/login">nk</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">

        {% for questions2 in questions %}
        <ul class="collection">
            <div class="row">
                <div class="col s1 votes"><br><br>
                    {{questions2.votes}}
                </div>
                <div class="col s11 ">
                    <li class="collection-item avatar">
                        <!--<img src="images/avator.svg" alt="" class="circle">-->

                        <a href="/questionbyid?id={{questions2.qid }}" class="title boldtxt">{{ questions2.title }}</a>
                        <p><br>
                            {{questions2.description}}
                        </p>
                        <div class="row">
                            <div class="col s6" >
                            </div>
                            <div class="col s6" >
                                <p align="right">
                                    {{questions2.name}}
                                </p>
                                <p align="right">
                                    {{questions2.askedtime.toString()}}
                                </p>
                            </div>
                        </div>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                </div>
            </div>
        </ul>

        <div class="row">
            <form class="col s12" method="post" action="/saveanswer" >
                <div class="row">
                    <div class="input-field col s10">
                        <input name="questionid" type="hidden" value="{{ questions2.qid }}" >
                        <textarea id="icon_prefix2" name="answer" class="materialize-textarea"></textarea>
                        <label for="icon_prefix2">Your Answer</label>
                    </div>
                    <div class="col s2" style="margin-bottom: 0;">
                        <button class="btn waves-effect waves-light light-blue" type="submit"  >Submit
                            <i class="material-icons right">send</i>
                        </button></div>
                </div>
            </form>
        </div>
        {% endfor %}


        {% for answers2 in answers %}
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="images/avator.svg" alt="" class="circle">

                <p><br>
                    {{answers2.answer}}
                </p>
                <p align="right">
                    {{answers2.name}}
                </p>
                <p align="right">
                    {{answers2.answeredtime.toString()}}
                </p>

            </li>
        </ul>

        {% endfor %}


    </div>

</div>


<footer class="page-footer light-blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>

















<!--{% for agegroup in questions|groupBy('title') %}-->
<!--<h2>{{ loop.key }}</h2>-->
<!--<ul>-->
    <!--{% for person in agegroup %}-->
    <!--<li>{{ person.title }}</li>-->
    <!--{% endfor %}-->
<!--</ul>-->
<!--{% endfor %}-->


